<!DOCTYPE html>
<html>
<head>
  <title>JiraClientApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if Rails.env.development? %>
    <%= javascript_include_tag 'http://localhost:9999/bundle.js', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'http://localhost:9999/stylesheets/bundle.css', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
    <%= javascript_include_tag 'bundle', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bundle.css', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
